.DS_Store
.dart_tool/

.packages
.pub/

build/
.flutter-plugins
.flutter-plugins-dependencies
example/android/local.properties
example/android/app/local.properties
example/.fvm
.idea
example/.vscode

# FVM Version Cache
.fvm/
example/android/app/.gradle/config.properties